In [4]:
import pandas as pd

data_rayhan = pd.read_clipboard()

#Menampilkan data
print(data_rayhan)

      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0    114300  1790         2          2       2    No         East
1    114200  2030         4          2       3    No         East
2    114800  1740         3          2       1    No         East
3     94700  1980         3          2       3    No         East
4    119800  2130         3          3       3    No         East
..      ...   ...       ...        ...     ...   ...          ...
123  119700  1900         3          3       3   Yes         East
124  147900  2160         4          3       3   Yes         East
125  113500  2070         2          2       2    No        North
126  149900  2020         3          3       1    No         West
127  124600  2250         3          3       4    No        North

[128 rows x 7 columns]

In [12]:
rayhan = data_rayhan[data_rayhan['Bedrooms']==2]

#Menampilkan nama
print(rayhan)

      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0    114300  1790         2          2       2    No         East
11   123000  1870         2          2       2   Yes         East
18   111400  1700         2          2       1   Yes         East
28    69100  1600         2          2       3    No        North
31   112300  1930         2          2       2   Yes        North
34   117800  2000         2          2       3    No        North
36   117500  1880         2          2       2    No        North
40   106600  1560         2          2       1    No         East
42   105600  1990         2          2       3    No         East
46   129800  1990         2          3       2    No        North
48   115900  1980         2          2       2    No         East
51    91100  1860         2          2       3    No        North
52   117400  2150         2          3       4    No        North
55   125700  1720         2          2       2   Yes         East
61   100900  1610         2          2       2    No        North
63   120500  1910         2          3       2    No         East
65   111100  1450         2          2       1   Yes        North
75   106900  1900         2          2       2    No        North
82   164800  2050         2          2       1   Yes         West
84    90500  1520         2          2       3    No        North
89    97800  2010         2          2       4    No        North
95   152500  1970         2          2       1   Yes         West
97   126800  2000         2          2       1   Yes         East
110  111600  1710         2          2       1    No        North
111  114900  1740         2          2       2    No        North
112  123600  1940         2          2       2   Yes         East
119  109700  1920         2          2       4    No        North
120  110400  1930         2          3       3    No        North
122  144800  2060         2          2       1   Yes         East
125  113500  2070         2          2       2    No        North

In [13]:
rayhan['Bathrooms']=pd.to_numeric(rayhan['Bathrooms'])

import numpy as np

rayhan['Bathrooms'] = rayhan['Bathrooms'].apply(lambda x:'large'if x > 2 else 'small')

#Menampilkan DataFrame setelah modifikasi
print(rayhan)

      Price  SqFt  Bedrooms Bathrooms  Offers Brick Neighborhood
0    114300  1790         2     small       2    No         East
11   123000  1870         2     small       2   Yes         East
18   111400  1700         2     small       1   Yes         East
28    69100  1600         2     small       3    No        North
31   112300  1930         2     small       2   Yes        North
34   117800  2000         2     small       3    No        North
36   117500  1880         2     small       2    No        North
40   106600  1560         2     small       1    No         East
42   105600  1990         2     small       3    No         East
46   129800  1990         2     large       2    No        North
48   115900  1980         2     small       2    No         East
51    91100  1860         2     small       3    No        North
52   117400  2150         2     large       4    No        North
55   125700  1720         2     small       2   Yes         East
61   100900  1610         2     small       2    No        North
63   120500  1910         2     large       2    No         East
65   111100  1450         2     small       1   Yes        North
75   106900  1900         2     small       2    No        North
82   164800  2050         2     small       1   Yes         West
84    90500  1520         2     small       3    No        North
89    97800  2010         2     small       4    No        North
95   152500  1970         2     small       1   Yes         West
97   126800  2000         2     small       1   Yes         East
110  111600  1710         2     small       1    No        North
111  114900  1740         2     small       2    No        North
112  123600  1940         2     small       2   Yes         East
119  109700  1920         2     small       4    No        North
120  110400  1930         2     large       3    No        North
122  144800  2060         2     small       1   Yes         East
125  113500  2070         2     small       2    No        North

C:\Users\User\AppData\Local\Temp\ipykernel_1668\2693721461.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rayhan['Bathrooms']=pd.to_numeric(rayhan['Bathrooms'])
C:\Users\User\AppData\Local\Temp\ipykernel_1668\2693721461.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rayhan['Bathrooms'] = rayhan['Bathrooms'].apply(lambda x:'large'if x > 2 else 'small')

In [15]:
import numpy as np

rayhan['newvariable'] = np.where(rayhan['Offers'] > 2, 'large', 'small')

#Menampilkan DataFrame 'rayhan' setelah penambahan kolom baru
print(rayhan)

      Price  SqFt  Bedrooms Bathrooms  Offers Brick Neighborhood newvariable
0    114300  1790         2     small       2    No         East       small
11   123000  1870         2     small       2   Yes         East       small
18   111400  1700         2     small       1   Yes         East       small
28    69100  1600         2     small       3    No        North       large
31   112300  1930         2     small       2   Yes        North       small
34   117800  2000         2     small       3    No        North       large
36   117500  1880         2     small       2    No        North       small
40   106600  1560         2     small       1    No         East       small
42   105600  1990         2     small       3    No         East       large
46   129800  1990         2     large       2    No        North       small
48   115900  1980         2     small       2    No         East       small
51    91100  1860         2     small       3    No        North       large
52   117400  2150         2     large       4    No        North       large
55   125700  1720         2     small       2   Yes         East       small
61   100900  1610         2     small       2    No        North       small
63   120500  1910         2     large       2    No         East       small
65   111100  1450         2     small       1   Yes        North       small
75   106900  1900         2     small       2    No        North       small
82   164800  2050         2     small       1   Yes         West       small
84    90500  1520         2     small       3    No        North       large
89    97800  2010         2     small       4    No        North       large
95   152500  1970         2     small       1   Yes         West       small
97   126800  2000         2     small       1   Yes         East       small
110  111600  1710         2     small       1    No        North       small
111  114900  1740         2     small       2    No        North       small
112  123600  1940         2     small       2   Yes         East       small
119  109700  1920         2     small       4    No        North       large
120  110400  1930         2     large       3    No        North       large
122  144800  2060         2     small       1   Yes         East       small
125  113500  2070         2     small       2    No        North       small

C:\Users\User\AppData\Local\Temp\ipykernel_1668\3728634023.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rayhan['newvariable'] = np.where(rayhan['Offers'] > 2, 'large', 'small')

In [17]:
#Menambhakan kolom baru 'newvariable'
rayhan['newvariable'] = rayhan['Price']/nama['SqFt']

#Menampilkan DataFrame 'rayhan' setelah penambahan kolom baru 
print(rayhan)

      Price  SqFt  Bedrooms Bathrooms  Offers Brick Neighborhood  newvariable
0    114300  1790         2     small       2    No         East    63.854749
11   123000  1870         2     small       2   Yes         East    65.775401
18   111400  1700         2     small       1   Yes         East    65.529412
28    69100  1600         2     small       3    No        North    43.187500
31   112300  1930         2     small       2   Yes        North    58.186528
34   117800  2000         2     small       3    No        North    58.900000
36   117500  1880         2     small       2    No        North    62.500000
40   106600  1560         2     small       1    No         East    68.333333
42   105600  1990         2     small       3    No         East    53.065327
46   129800  1990         2     large       2    No        North    65.226131
48   115900  1980         2     small       2    No         East    58.535354
51    91100  1860         2     small       3    No        North    48.978495
52   117400  2150         2     large       4    No        North    54.604651
55   125700  1720         2     small       2   Yes         East    73.081395
61   100900  1610         2     small       2    No        North    62.670807
63   120500  1910         2     large       2    No         East    63.089005
65   111100  1450         2     small       1   Yes        North    76.620690
75   106900  1900         2     small       2    No        North    56.263158
82   164800  2050         2     small       1   Yes         West    80.390244
84    90500  1520         2     small       3    No        North    59.539474
89    97800  2010         2     small       4    No        North    48.656716
95   152500  1970         2     small       1   Yes         West    77.411168
97   126800  2000         2     small       1   Yes         East    63.400000
110  111600  1710         2     small       1    No        North    65.263158
111  114900  1740         2     small       2    No        North    66.034483
112  123600  1940         2     small       2   Yes         East    63.711340
119  109700  1920         2     small       4    No        North    57.135417
120  110400  1930         2     large       3    No        North    57.202073
122  144800  2060         2     small       1   Yes         East    70.291262
125  113500  2070         2     small       2    No        North    54.830918

C:\Users\User\AppData\Local\Temp\ipykernel_1668\4149422385.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rayhan['newvariable'] = rayhan['Price']/nama['SqFt']

In [18]:
rayhan = rayhan.drop(columns=['newvariable'])

#Menampilkan DataFrame 'rayhan'
print(rayhan)

      Price  SqFt  Bedrooms Bathrooms  Offers Brick Neighborhood
0    114300  1790         2     small       2    No         East
11   123000  1870         2     small       2   Yes         East
18   111400  1700         2     small       1   Yes         East
28    69100  1600         2     small       3    No        North
31   112300  1930         2     small       2   Yes        North
34   117800  2000         2     small       3    No        North
36   117500  1880         2     small       2    No        North
40   106600  1560         2     small       1    No         East
42   105600  1990         2     small       3    No         East
46   129800  1990         2     large       2    No        North
48   115900  1980         2     small       2    No         East
51    91100  1860         2     small       3    No        North
52   117400  2150         2     large       4    No        North
55   125700  1720         2     small       2   Yes         East
61   100900  1610         2     small       2    No        North
63   120500  1910         2     large       2    No         East
65   111100  1450         2     small       1   Yes        North
75   106900  1900         2     small       2    No        North
82   164800  2050         2     small       1   Yes         West
84    90500  1520         2     small       3    No        North
89    97800  2010         2     small       4    No        North
95   152500  1970         2     small       1   Yes         West
97   126800  2000         2     small       1   Yes         East
110  111600  1710         2     small       1    No        North
111  114900  1740         2     small       2    No        North
112  123600  1940         2     small       2   Yes         East
119  109700  1920         2     small       4    No        North
120  110400  1930         2     large       3    No        North
122  144800  2060         2     small       1   Yes         East
125  113500  2070         2     small       2    No        North

In [20]:
kolom1dan2 = data_rayhan.iloc[:,0:2]

#Menampilkan DataFrame kolom1dan2
print(kolom1dan2)

      Price  SqFt
0    114300  1790
1    114200  2030
2    114800  1740
3     94700  1980
4    119800  2130
..      ...   ...
123  119700  1900
124  147900  2160
125  113500  2070
126  149900  2020
127  124600  2250

[128 rows x 2 columns]

In [22]:
#Memilih kolom 1 dan 2 dari DataFrame data_rayhan
kolom3dan4 = data_rayhan.iloc[:,2:4]

#Menampilkan DataFrame kolom3dan4
print(kolom3dan4)

     Bedrooms  Bathrooms
0           2          2
1           4          2
2           3          2
3           3          2
4           3          3
..        ...        ...
123         3          3
124         4          3
125         2          2
126         3          3
127         3          3

[128 rows x 2 columns]

In [23]:
#Menggunakan dua DataFrame
kolom1sd4 = pd.concat([kolom1dan2,kolom3dan4],axis=1)

#Menampilkan DataFrame kolom1sd4
print(kolom1sd4)

      Price  SqFt  Bedrooms  Bathrooms
0    114300  1790         2          2
1    114200  2030         4          2
2    114800  1740         3          2
3     94700  1980         3          2
4    119800  2130         3          3
..      ...   ...       ...        ...
123  119700  1900         3          3
124  147900  2160         4          3
125  113500  2070         2          2
126  149900  2020         3          3
127  124600  2250         3          3

[128 rows x 4 columns]

In [31]:
import pandas as pd

# Menggabungkan baris dari dua DataFrame
baris1sd3 = data_rayhan.iloc[0:3,:]
baris4sd6 = data_rayhan.iloc[3:6,:]
baris1sd6 = pd.concat([baris1sd3, baris4sd6])

# Menampilkan DataFrame baris1sd6
print(baris1sd6)

    Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0  114300  1790         2          2       2    No         East
1  114200  2030         4          2       3    No         East
2  114800  1740         3          2       1    No         East
3   94700  1980         3          2       3    No         East
4  119800  2130         3          3       3    No         East
5  114600  1780         3          2       2    No        North

In [29]:
data_rayhan_sort = data_rayhan.sort_values(by='Price')

print(data_rayhan_sort)

      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
28    69100  1600         2          2       3    No        North
54    81300  1650         3          2       3    No        North
104   82300  1910         3          2       4    No         East
17    83600  1990         3          3       4    No        North
47    90300  2050         3          2       6    No        North
..      ...   ...       ...        ...     ...   ...          ...
81   184300  2140         4          3       2   Yes         West
29   188000  2040         4          3       1   Yes         West
85   188300  2250         4          3       2   Yes         West
116  199500  2290         5          4       1   Yes         West
103  211200  2440         4          3       3   Yes         West

[128 rows x 7 columns]

In [36]:
import pandas as pd

data_rayhan = pd.read_clipboard()

#Menampilkan data
print(data_rayhan)

         Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
0     Rayyhan      L      2023           180                40          Grogol
1       Akbar      L      2023           175                35          Grogol
2       Demas      L      2023           170                30          Grogol
3     Dewanto      L      2023           165                25          Grogol
4         Jet      L      2023           160                20          Grogol
5      Tanaya      P      2023           155                15          Grogol
6       April      P      2023           150                10          Grogol
7    Dafasyah      L      2023           180                45          Grogol
8       Rifqi      L      2023           175                50          Grogol
9       Syifa      P      2023           170                55          Grogol
10     Andrew      L      2023           165                60          Grogol
11       Dyah      P      2023           160                40          Grogol
12      Putra      L      2023           155                35          Grogol
13     Aditya      L      2023           150                30          Grogol
14    Partahi      L      2023           180                25          Grogol
15   Almakius      L      2023           175                20          Grogol
16   Muhammad      L      2023           170                15          Grogol
17   Nicholas      L      2023           165                10          Grogol
18  Nicodemus      L      2023           160                45          Grogol
19      Kevin      L      2023           155                50          Grogol
20     Monica      P      2023           150                55          Grogol
21       Gwen      P      2023           180                60          Grogol
22      Naswa      P      2023           175                40          Grogol
23   Bahrudin      L      2023           170                35          Grogol
24  Francisco      L      2023           165                30          Grogol
25   Nalendra      L      2023           160                25          Grogol
26      Kevin      L      2023           155                20          Grogol
27      Naswa      P      2023           150                15          Grogol
28    Nadhira      P      2023           180                10          Grogol
29      Rafiq      L      2023           175                60          Grogol
30       Bayu      L      2023           170                55          Grogol

In [56]:
rayhan = data_rayhan[data_rayhan['Tinggi Badan']>150]

#Menampilkan nama
print(rayhan)

         Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
0     Rayyhan      L      2023           180                40          Grogol
1       Akbar      L      2023           175                35          Grogol
2       Demas      L      2023           170                30          Grogol
3     Dewanto      L      2023           165                25          Grogol
4         Jet      L      2023           160                20          Grogol
5      Tanaya      P      2023           155                15          Grogol
7    Dafasyah      L      2023           180                45          Grogol
8       Rifqi      L      2023           175                50          Grogol
9       Syifa      P      2023           170                55          Grogol
10     Andrew      L      2023           165                60          Grogol
11       Dyah      P      2023           160                40          Grogol
12      Putra      L      2023           155                35          Grogol
14    Partahi      L      2023           180                25          Grogol
15   Almakius      L      2023           175                20          Grogol
16   Muhammad      L      2023           170                15          Grogol
17   Nicholas      L      2023           165                10          Grogol
18  Nicodemus      L      2023           160                45          Grogol
19      Kevin      L      2023           155                50          Grogol
21       Gwen      P      2023           180                60          Grogol
22      Naswa      P      2023           175                40          Grogol
23   Bahrudin      L      2023           170                35          Grogol
24  Francisco      L      2023           165                30          Grogol
25   Nalendra      L      2023           160                25          Grogol
26      Kevin      L      2023           155                20          Grogol
28    Nadhira      P      2023           180                10          Grogol
29      Rafiq      L      2023           175                60          Grogol
30       Bayu      L      2023           170                55          Grogol

In [57]:
rayhan['Tinggi Badan']=pd.to_numeric(rayhan['Tinggi Badan'])

import numpy as np

rayhan['Tinggi Badan'] = rayhan['Tinggi Badan'].apply(lambda x:'Tinggi'if x > 160 else 'Pendek')

#Menampilkan DataFrame setelah modifikasi
print(rayhan)

         Nama Gender  Angkatan Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
0     Rayyhan      L      2023       Tinggi                40          Grogol
1       Akbar      L      2023       Tinggi                35          Grogol
2       Demas      L      2023       Tinggi                30          Grogol
3     Dewanto      L      2023       Tinggi                25          Grogol
4         Jet      L      2023       Pendek                20          Grogol
5      Tanaya      P      2023       Pendek                15          Grogol
7    Dafasyah      L      2023       Tinggi                45          Grogol
8       Rifqi      L      2023       Tinggi                50          Grogol
9       Syifa      P      2023       Tinggi                55          Grogol
10     Andrew      L      2023       Tinggi                60          Grogol
11       Dyah      P      2023       Pendek                40          Grogol
12      Putra      L      2023       Pendek                35          Grogol
14    Partahi      L      2023       Tinggi                25          Grogol
15   Almakius      L      2023       Tinggi                20          Grogol
16   Muhammad      L      2023       Tinggi                15          Grogol
17   Nicholas      L      2023       Tinggi                10          Grogol
18  Nicodemus      L      2023       Pendek                45          Grogol
19      Kevin      L      2023       Pendek                50          Grogol
21       Gwen      P      2023       Tinggi                60          Grogol
22      Naswa      P      2023       Tinggi                40          Grogol
23   Bahrudin      L      2023       Tinggi                35          Grogol
24  Francisco      L      2023       Tinggi                30          Grogol
25   Nalendra      L      2023       Pendek                25          Grogol
26      Kevin      L      2023       Pendek                20          Grogol
28    Nadhira      P      2023       Tinggi                10          Grogol
29      Rafiq      L      2023       Tinggi                60          Grogol
30       Bayu      L      2023       Tinggi                55          Grogol

C:\Users\User\AppData\Local\Temp\ipykernel_1668\3818223049.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rayhan['Tinggi Badan']=pd.to_numeric(rayhan['Tinggi Badan'])
C:\Users\User\AppData\Local\Temp\ipykernel_1668\3818223049.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rayhan['Tinggi Badan'] = rayhan['Tinggi Badan'].apply(lambda x:'Tinggi'if x > 160 else 'Pendek')

In [140]:
import numpy as np

#Menambhakan kolom baru 'Jurusan
rayhan = rayhan.assign(Jurusan='Infor20')

#Menampilkan DataFrame 'rayhan' setelah penambahan kolom baru
print(rayhan)

         Nama Gender  Angkatan Tinggi Badan  Waktu Perjalanan Wilayah Tinggal  \
0     Rayyhan      L      2023       Tinggi                40          Grogol
1       Akbar      L      2023       Tinggi                35          Grogol
2       Demas      L      2023       Tinggi                30          Grogol
3     Dewanto      L      2023       Tinggi                25          Grogol
4         Jet      L      2023       Pendek                20          Grogol
5      Tanaya      P      2023       Pendek                15          Grogol
7    Dafasyah      L      2023       Tinggi                45          Grogol
8       Rifqi      L      2023       Tinggi                50          Grogol
9       Syifa      P      2023       Tinggi                55          Grogol
10     Andrew      L      2023       Tinggi                60          Grogol
11       Dyah      P      2023       Pendek                40          Grogol
12      Putra      L      2023       Pendek                35          Grogol
14    Partahi      L      2023       Tinggi                25          Grogol
15   Almakius      L      2023       Tinggi                20          Grogol
16   Muhammad      L      2023       Tinggi                15          Grogol
17   Nicholas      L      2023       Tinggi                10          Grogol
18  Nicodemus      L      2023       Pendek                45          Grogol
19      Kevin      L      2023       Pendek                50          Grogol
21       Gwen      P      2023       Tinggi                60          Grogol
22      Naswa      P      2023       Tinggi                40          Grogol
23   Bahrudin      L      2023       Tinggi                35          Grogol
24  Francisco      L      2023       Tinggi                30          Grogol
25   Nalendra      L      2023       Pendek                25          Grogol
26      Kevin      L      2023       Pendek                20          Grogol
28    Nadhira      P      2023       Tinggi                10          Grogol
29      Rafiq      L      2023       Tinggi                60          Grogol
30       Bayu      L      2023       Tinggi                55          Grogol

    Jurusan Fakultas
0   Infor20      FTI
1   Infor20      FTI
2   Infor20      FTI
3   Infor20      FTI
4   Infor20      FTI
5   Infor20      FTI
7   Infor20      FTI
8   Infor20      FTI
9   Infor20      FTI
10  Infor20      FTI
11  Infor20      FTI
12  Infor20      FTI
14  Infor20      FTI
15  Infor20      FTI
16  Infor20      FTI
17  Infor20      FTI
18  Infor20      FTI
19  Infor20      FTI
21  Infor20      FTI
22  Infor20      FTI
23  Infor20      FTI
24  Infor20      FTI
25  Infor20      FTI
26  Infor20      FTI
28  Infor20      FTI
29  Infor20      FTI
30  Infor20      FTI

In [141]:
#Menambhakan kolom baru 'Fakultas'
rayhan = rayhan.assign(Fakultas='FTI')

#Menampilkan DataFrame 'rayhan' setelah penambahan kolom baru
print(rayhan)

         Nama Gender  Angkatan Tinggi Badan  Waktu Perjalanan Wilayah Tinggal  \
0     Rayyhan      L      2023       Tinggi                40          Grogol
1       Akbar      L      2023       Tinggi                35          Grogol
2       Demas      L      2023       Tinggi                30          Grogol
3     Dewanto      L      2023       Tinggi                25          Grogol
4         Jet      L      2023       Pendek                20          Grogol
5      Tanaya      P      2023       Pendek                15          Grogol
7    Dafasyah      L      2023       Tinggi                45          Grogol
8       Rifqi      L      2023       Tinggi                50          Grogol
9       Syifa      P      2023       Tinggi                55          Grogol
10     Andrew      L      2023       Tinggi                60          Grogol
11       Dyah      P      2023       Pendek                40          Grogol
12      Putra      L      2023       Pendek                35          Grogol
14    Partahi      L      2023       Tinggi                25          Grogol
15   Almakius      L      2023       Tinggi                20          Grogol
16   Muhammad      L      2023       Tinggi                15          Grogol
17   Nicholas      L      2023       Tinggi                10          Grogol
18  Nicodemus      L      2023       Pendek                45          Grogol
19      Kevin      L      2023       Pendek                50          Grogol
21       Gwen      P      2023       Tinggi                60          Grogol
22      Naswa      P      2023       Tinggi                40          Grogol
23   Bahrudin      L      2023       Tinggi                35          Grogol
24  Francisco      L      2023       Tinggi                30          Grogol
25   Nalendra      L      2023       Pendek                25          Grogol
26      Kevin      L      2023       Pendek                20          Grogol
28    Nadhira      P      2023       Tinggi                10          Grogol
29      Rafiq      L      2023       Tinggi                60          Grogol
30       Bayu      L      2023       Tinggi                55          Grogol

    Jurusan Fakultas
0   Infor20      FTI
1   Infor20      FTI
2   Infor20      FTI
3   Infor20      FTI
4   Infor20      FTI
5   Infor20      FTI
7   Infor20      FTI
8   Infor20      FTI
9   Infor20      FTI
10  Infor20      FTI
11  Infor20      FTI
12  Infor20      FTI
14  Infor20      FTI
15  Infor20      FTI
16  Infor20      FTI
17  Infor20      FTI
18  Infor20      FTI
19  Infor20      FTI
21  Infor20      FTI
22  Infor20      FTI
23  Infor20      FTI
24  Infor20      FTI
25  Infor20      FTI
26  Infor20      FTI
28  Infor20      FTI
29  Infor20      FTI
30  Infor20      FTI

In [147]:
rayhan = rayhan.drop(columns=['Fakultas'])

#Menampilkan DataFrame 'rayhan'
print(rayhan)

         Nama Gender  Angkatan Tinggi Badan  Waktu Perjalanan Wilayah Tinggal  \
0     Rayyhan      L      2023       Tinggi                40          Grogol
1       Akbar      L      2023       Tinggi                35          Grogol
2       Demas      L      2023       Tinggi                30          Grogol
3     Dewanto      L      2023       Tinggi                25          Grogol
4         Jet      L      2023       Pendek                20          Grogol
5      Tanaya      P      2023       Pendek                15          Grogol
7    Dafasyah      L      2023       Tinggi                45          Grogol
8       Rifqi      L      2023       Tinggi                50          Grogol
9       Syifa      P      2023       Tinggi                55          Grogol
10     Andrew      L      2023       Tinggi                60          Grogol
11       Dyah      P      2023       Pendek                40          Grogol
12      Putra      L      2023       Pendek                35          Grogol
14    Partahi      L      2023       Tinggi                25          Grogol
15   Almakius      L      2023       Tinggi                20          Grogol
16   Muhammad      L      2023       Tinggi                15          Grogol
17   Nicholas      L      2023       Tinggi                10          Grogol
18  Nicodemus      L      2023       Pendek                45          Grogol
19      Kevin      L      2023       Pendek                50          Grogol
21       Gwen      P      2023       Tinggi                60          Grogol
22      Naswa      P      2023       Tinggi                40          Grogol
23   Bahrudin      L      2023       Tinggi                35          Grogol
24  Francisco      L      2023       Tinggi                30          Grogol
25   Nalendra      L      2023       Pendek                25          Grogol
26      Kevin      L      2023       Pendek                20          Grogol
28    Nadhira      P      2023       Tinggi                10          Grogol
29      Rafiq      L      2023       Tinggi                60          Grogol
30       Bayu      L      2023       Tinggi                55          Grogol

    Jurusan
0   Infor20
1   Infor20
2   Infor20
3   Infor20
4   Infor20
5   Infor20
7   Infor20
8   Infor20
9   Infor20
10  Infor20
11  Infor20
12  Infor20
14  Infor20
15  Infor20
16  Infor20
17  Infor20
18  Infor20
19  Infor20
21  Infor20
22  Infor20
23  Infor20
24  Infor20
25  Infor20
26  Infor20
28  Infor20
29  Infor20
30  Infor20

In [80]:
kolom1dan2 = data_rayhan.iloc[:,0:2]

#Menampilkan DataFrame kolom1dan2
print(kolom1dan2)

         Nama Gender
0     Rayyhan      L
1       Akbar      L
2       Demas      L
3     Dewanto      L
4         Jet      L
5      Tanaya      P
6       April      P
7    Dafasyah      L
8       Rifqi      L
9       Syifa      P
10     Andrew      L
11       Dyah      P
12      Putra      L
13     Aditya      L
14    Partahi      L
15   Almakius      L
16   Muhammad      L
17   Nicholas      L
18  Nicodemus      L
19      Kevin      L
20     Monica      P
21       Gwen      P
22      Naswa      P
23   Bahrudin      L
24  Francisco      L
25   Nalendra      L
26      Kevin      L
27      Naswa      P
28    Nadhira      P
29      Rafiq      L
30       Bayu      L

In [81]:
#Memilih kolom 1 dan 2 dari DataFrame data_rayhan
kolom3dan4 = data_rayhan.iloc[:,2:4]

#Menampilkan DataFrame kolom3dan4
print(kolom3dan4)

    Angkatan  Tinggi Badan
0       2023           180
1       2023           175
2       2023           170
3       2023           165
4       2023           160
5       2023           155
6       2023           150
7       2023           180
8       2023           175
9       2023           170
10      2023           165
11      2023           160
12      2023           155
13      2023           150
14      2023           180
15      2023           175
16      2023           170
17      2023           165
18      2023           160
19      2023           155
20      2023           150
21      2023           180
22      2023           175
23      2023           170
24      2023           165
25      2023           160
26      2023           155
27      2023           150
28      2023           180
29      2023           175
30      2023           170

In [82]:
#Menggunakan dua DataFrame
kolom1sd4 = pd.concat([kolom1dan2,kolom3dan4],axis=1)

#Menampilkan DataFrame kolom1sd4
print(kolom1sd4)

         Nama Gender  Angkatan  Tinggi Badan
0     Rayyhan      L      2023           180
1       Akbar      L      2023           175
2       Demas      L      2023           170
3     Dewanto      L      2023           165
4         Jet      L      2023           160
5      Tanaya      P      2023           155
6       April      P      2023           150
7    Dafasyah      L      2023           180
8       Rifqi      L      2023           175
9       Syifa      P      2023           170
10     Andrew      L      2023           165
11       Dyah      P      2023           160
12      Putra      L      2023           155
13     Aditya      L      2023           150
14    Partahi      L      2023           180
15   Almakius      L      2023           175
16   Muhammad      L      2023           170
17   Nicholas      L      2023           165
18  Nicodemus      L      2023           160
19      Kevin      L      2023           155
20     Monica      P      2023           150
21       Gwen      P      2023           180
22      Naswa      P      2023           175
23   Bahrudin      L      2023           170
24  Francisco      L      2023           165
25   Nalendra      L      2023           160
26      Kevin      L      2023           155
27      Naswa      P      2023           150
28    Nadhira      P      2023           180
29      Rafiq      L      2023           175
30       Bayu      L      2023           170

In [83]:
import pandas as pd

# Menggabungkan baris dari dua DataFrame
baris1sd3 = data_rayhan.iloc[0:3,:]
baris4sd6 = data_rayhan.iloc[3:6,:]
baris1sd6 = pd.concat([baris1sd3, baris4sd6])

# Menampilkan DataFrame baris1sd6
print(baris1sd6)

      Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
0  Rayyhan      L      2023           180                40          Grogol
1    Akbar      L      2023           175                35          Grogol
2    Demas      L      2023           170                30          Grogol
3  Dewanto      L      2023           165                25          Grogol
4      Jet      L      2023           160                20          Grogol
5   Tanaya      P      2023           155                15          Grogol

In [94]:
# Mengambil baris 25-30 dari DataFrame pertama
baris25sd30_df1 = data_rayhan.iloc[25:31, :]

# Mengambil baris 25-30 dari DataFrame kedua
# (Anda perlu mengganti data_rayhan dengan nama DataFrame kedua jika berbeda)
baris25sd30_df2 = data_rayhan.iloc[25:31, :]

# Menggabungkan baris 25-30 dari kedua DataFrame
baris25sd30 = pd.concat([baris25sd30_df1, baris25sd30_df2])

# Menampilkan DataFrame gabungan
print(baris25sd30)

        Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
25  Nalendra      L      2023           160                25          Grogol
26     Kevin      L      2023           155                20          Grogol
27     Naswa      P      2023           150                15          Grogol
28   Nadhira      P      2023           180                10          Grogol
29     Rafiq      L      2023           175                60          Grogol
30      Bayu      L      2023           170                55          Grogol
25  Nalendra      L      2023           160                25          Grogol
26     Kevin      L      2023           155                20          Grogol
27     Naswa      P      2023           150                15          Grogol
28   Nadhira      P      2023           180                10          Grogol
29     Rafiq      L      2023           175                60          Grogol
30      Bayu      L      2023           170                55          Grogol

In [146]:
#Menggunakan dua DataFrame
gabungan = pd.concat([baris1sd6 , baris25sd30_df2 ],axis=1)

#Menampilkan DataFrame kolom1sd4
print(gabungan)

       Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal  \
0   Rayyhan      L    2023.0         180.0              40.0          Grogol
1     Akbar      L    2023.0         175.0              35.0          Grogol
2     Demas      L    2023.0         170.0              30.0          Grogol
3   Dewanto      L    2023.0         165.0              25.0          Grogol
4       Jet      L    2023.0         160.0              20.0          Grogol
5    Tanaya      P    2023.0         155.0              15.0          Grogol
25      NaN    NaN       NaN           NaN               NaN             NaN
26      NaN    NaN       NaN           NaN               NaN             NaN
27      NaN    NaN       NaN           NaN               NaN             NaN
28      NaN    NaN       NaN           NaN               NaN             NaN
29      NaN    NaN       NaN           NaN               NaN             NaN
30      NaN    NaN       NaN           NaN               NaN             NaN

        Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
0        NaN    NaN       NaN           NaN               NaN             NaN
1        NaN    NaN       NaN           NaN               NaN             NaN
2        NaN    NaN       NaN           NaN               NaN             NaN
3        NaN    NaN       NaN           NaN               NaN             NaN
4        NaN    NaN       NaN           NaN               NaN             NaN
5        NaN    NaN       NaN           NaN               NaN             NaN
25  Nalendra      L    2023.0         160.0              25.0          Grogol
26     Kevin      L    2023.0         155.0              20.0          Grogol
27     Naswa      P    2023.0         150.0              15.0          Grogol
28   Nadhira      P    2023.0         180.0              10.0          Grogol
29     Rafiq      L    2023.0         175.0              60.0          Grogol
30      Bayu      L    2023.0         170.0              55.0          Grogol

In [144]:
data_rayhan_sort = data_rayhan.sort_values(by='Waktu Perjalanan')

print(data_rayhan_sort)

         Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
17   Nicholas      L      2023           165                10          Grogol
28    Nadhira      P      2023           180                10          Grogol
6       April      P      2023           150                10          Grogol
16   Muhammad      L      2023           170                15          Grogol
27      Naswa      P      2023           150                15          Grogol
5      Tanaya      P      2023           155                15          Grogol
15   Almakius      L      2023           175                20          Grogol
26      Kevin      L      2023           155                20          Grogol
4         Jet      L      2023           160                20          Grogol
3     Dewanto      L      2023           165                25          Grogol
25   Nalendra      L      2023           160                25          Grogol
14    Partahi      L      2023           180                25          Grogol
2       Demas      L      2023           170                30          Grogol
24  Francisco      L      2023           165                30          Grogol
13     Aditya      L      2023           150                30          Grogol
12      Putra      L      2023           155                35          Grogol
23   Bahrudin      L      2023           170                35          Grogol
1       Akbar      L      2023           175                35          Grogol
22      Naswa      P      2023           175                40          Grogol
0     Rayyhan      L      2023           180                40          Grogol
11       Dyah      P      2023           160                40          Grogol
18  Nicodemus      L      2023           160                45          Grogol
7    Dafasyah      L      2023           180                45          Grogol
8       Rifqi      L      2023           175                50          Grogol
19      Kevin      L      2023           155                50          Grogol
20     Monica      P      2023           150                55          Grogol
9       Syifa      P      2023           170                55          Grogol
30       Bayu      L      2023           170                55          Grogol
21       Gwen      P      2023           180                60          Grogol
29      Rafiq      L      2023           175                60          Grogol
10     Andrew      L      2023           165                60          Grogol