<a href="https://colab.research.google.com/github/rayhandonipramana/PraktikuPraktikumProbabilitasDanStatistika_Rayhan-Doni-Pramana/blob/main/PrakProbStat1_Rayhan_Doni_Pramana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("data_nama.csv")
df

,Nama,Gender,Angkatan,Tinggi Badan,Waktu Perjalanan,Wilayah Tinggal
0,Akbar,L,2023,170,30,Grogol
1,Rayhan,L,2023,170,30,Grogol
2,Moammar,L,2023,170,30,Grogol
3,Dewanto,L,2023,170,30,Grogol
4,Jet,L,2023,170,30,Grogol
5,Tanaya,P,2023,170,30,Grogol
6,April,P,2023,170,30,Grogol
7,Dafasyah,L,2023,170,30,Grogol
8,Rifqi,L,2023,170,30,Grogol
9,Syifa,P,2023,170,30,Grogol
10,Andrew,L,2023,170,30,Grogol
11,Dyah,P,2023,170,30,Grogol
12,Putra,L,2023,170,30,Grogol
13,Aditya,L,2023,170,30,Grogol
14,Almakius,L,2023,170,30,Grogol
15,Partahi,L,2023,170,30,Grogol
16,Muhammad,L,2023,170,30,Grogol
17,Nicholas,L,2023,170,30,Grogol
18,Nadhira,P,2023,170,30,Grogol
19,Aurel,L,2023,170,30,Grogol
20,Muhammad,L,2023,170,30,Grogol
21,Nicodemus,L,2023,170,30,Grogol
22,Kevin,L,2023,170,30,Grogol
23,Monica,P,2023,170,30,Grogol
24,Gwen,P,2023,170,30,Grogol
25,Naswa,P,2023,170,30,Grogol
26,Bahrudin,L,2023,170,30,Grogol
27,Francisco,L,2023,170,30,Grogol
28,Nalendra,L,2023,170,30,Grogol

In [ ]:
df = pd.read_excel("data_nama.xlsx")
df

,Nama,Gender,Angkatan,Tinggi Badan,Waktu Perjalanan,Wilayah Tinggal
0,Nama,Gender,Angkatan,Tinggi Badan,Waktu Perjalanan,Wilayah Tinggal
1,Rayhan,L,2023,170,30,Grogol
2,Moammar,L,2023,170,30,Grogol
3,Dewanto,L,2023,170,30,Grogol
4,Jet,L,2023,170,30,Grogol
5,Tanaya,P,2023,170,30,Grogol
6,April,P,2023,170,30,Grogol
7,Dafasyah,L,2023,170,30,Grogol
8,Rifqi,L,2023,170,30,Grogol
9,Syifa,P,2023,170,30,Grogol
10,Andrew,L,2023,170,30,Grogol
11,Dyah,P,2023,170,30,Grogol
12,Putra,L,2023,170,30,Grogol
13,Aditya,L,2023,170,30,Grogol
14,Almakius,L,2023,170,30,Grogol
15,Partahi,L,2023,170,30,Grogol
16,Muhammad,L,2023,170,30,Grogol
17,Nicholas,L,2023,170,30,Grogol
18,Nadhira,P,2023,170,30,Grogol
19,Aurel,L,2023,170,30,Grogol
20,Muhammad,L,2023,170,30,Grogol
21,Nicodemus,L,2023,170,30,Grogol
22,Kevin,L,2023,170,30,Grogol
23,Monica,P,2023,170,30,Grogol
24,Gwen,P,2023,170,30,Grogol
25,Naswa,P,2023,170,30,Grogol
26,Bahrudin,L,2023,170,30,Grogol
27,Francisco,L,2023,170,30,Grogol
28,Nalendra,L,2023,170,30,Grogol

In [ ]:
import pandas as pd

file_path = "data_nama.csv"

df = pd.read_csv(file_path)

print(df)

         Nama Gender   Angkatan  Tinggi Badan  Waktu Perjalanan  \
0       Akbar       L      2023           170                30
1      Rayhan       L      2023           170                30
2     Moammar       L      2023           170                30
3     Dewanto       L      2023           170                30
4         Jet       L      2023           170                30
5      Tanaya       P      2023           170                30
6       April       P      2023           170                30
7    Dafasyah       L      2023           170                30
8       Rifqi       L      2023           170                30
9       Syifa       P      2023           170                30
10     Andrew       L      2023           170                30
11       Dyah       P      2023           170                30
12      Putra       L      2023           170                30
13     Aditya       L      2023           170                30
14   Almakius       L      2023           170                30
15    Partahi       L      2023           170                30
16   Muhammad       L      2023           170                30
17   Nicholas       L      2023           170                30
18    Nadhira       P      2023           170                30
19      Aurel       L      2023           170                30
20   Muhammad       L      2023           170                30
21  Nicodemus       L      2023           170                30
22      Kevin       L      2023           170                30
23     Monica       P      2023           170                30
24       Gwen       P      2023           170                30
25      Naswa       P      2023           170                30
26   Bahrudin       L      2023           170                30
27  Francisco       L      2023           170                30
28   Nalendra       L      2023           170                30

   Wilayah Tinggal
0           Grogol
1           Grogol
2           Grogol
3           Grogol
4           Grogol
5           Grogol
6           Grogol
7           Grogol
8           Grogol
9           Grogol
10          Grogol
11          Grogol
12          Grogol
13          Grogol
14          Grogol
15          Grogol
16          Grogol
17          Grogol
18          Grogol
19          Grogol
20          Grogol
21          Grogol
22          Grogol
23          Grogol
24          Grogol
25          Grogol
26          Grogol
27          Grogol
28          Grogol